.root{
    width: 100%;
    background-color: black;
    text-align: left;
    vertical-align: middle;
    position: fixed;
    top: 0;
    padding: 20px;
    font-size: 24px;
    color: aqua;
    border-bottom: 1px solid #ccc;
}